{% extends 'base.html' %}

{% block content %}
    <h1>Корзина</h1>
            {% if count_order == 0 %}
                <br>
                <h3>Здесь ничего нет...</h3>
                <small>Добавьте сюда что-нибудь</small>
            {% endif %}
            
            {% if count_order != 0 %}

            <div class="row">
                {% for order in orders %}
                <div class="col-md-auto">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="static/images/{{order[4]}}" class="card-img-top"
                            style="width:200px;height:260">
                            <h5 class="card-title">{{order[2]}}</h5>
                            <p>{{order[3]}}</p>
                            <p>
                                <form action="/bag_clean" method="POST">
                                    <input type="hidden" name="id" value="{{order[0]}}"/>
                                    <input type="hidden" name="title" value="{{order[2]}}"
                                    <br>
                                    
                                        <button type="submit" name="_method" class="btn btn-danger">
                                            Отменить бронирование
                                        </button>
                                
                                </form> 
                                </p>
                        </div>
                            
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

{% endblock %}