<!DOCTYPE html>
<html>
<head>
    <title>Школьная Библиотека</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <meta name="viewport" content="width=device-width; initial-scale=1">
</head>
<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="main" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <img src="static/images/emblema.png" width="60" height="60"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="main" class="nav-link px-2 link-secondary">Главная</a></li>
              <li><a href="TODO" class="nav-link px-2 link-dark">Категории</a></li>
              <li><a href="TODO" class="nav-link px-2 link-dark">Еще что-то</a></li>
              <li><a href="TODO" class="nav-link px-2 link-dark">Профиль</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="post" action="/main">
              <input type="search" class="form-control" placeholder="Найти..." aria-label="Поиск" id="search" name="search">
            </form>

          </div>
        </div>
      </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
