{% extends 'base.html' %}

{% block content %}
    <h1>Главная</h1>
    <p>
        <a href="{{ url_for('bag') }}" class="btn btn-primary">Корзина</a>
    </p>
    <div class="row">
        {% if (count_book == 0): %}
            <p>Ничего не найдено</p>
        {% else: %}
            {% for book in books %}
                <div class="col-md-auto">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="static/images/{{book[5]}}" class="card-img-top"
                            style="width:200px;height:260">
                            <h5 class="card-title">{{book[1]}}</h5>
                            <p>{{book[2]}}</p>
                            <p><b>Количество: {{ book[6] }}</b></p>
                            <form action="/main" method="POST">
                                <input type="hidden" name="title" value="{{book[1]}}"/>
                                <input type="hidden" name="author" value="{{book[2]}}"/>
                                <input type="hidden" name="image" value="{{book[5]}}"/>
                                <br>
                                <button type="submit" name="_method" class="btn btn-success">
                                    Забронировать
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<hr>

{% endblock %}
