{% extends 'base.html' %}

{% block content %}
    <h1>Главная</h1>
    <p>
        <a href="{{ url_for('add_book') }}" class="btn btn-primary">Добавить книгу</a>
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Выйти</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Пароль</th>
            </tr>
        </thead>
        <tbody>
                <tr>

                    <td>{{ user[1] }}</td>

                    </td>
                </tr>
        </tbody>
    </table>
{% endblock %}
