{% extends "base.html" %}

{% block content %}
  <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="text-center">
          <h1 class="display-1 fw-bold">TODO</h1>
          <p class="fs-3"> <span class="text-danger">Ой!</span> Ведутся работы. &#128736;</p>
          <p class="lead">
              Данная страница еще находится в разработке. &#128522;
            </p>
          <a href="user" class="btn btn-primary">На главную</a>
      </div>
  </div>
{% endblock %}